name: Unit test

on: [push, pull_request]

permissions:
  pull-requests: write
  repository-projects: write

jobs:
  test:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - uses: bahmutov/npm-install@v1
      - name: Run unit test
        run: |
          npm run test:cov
        env:
          CI: 'true'
          PORT: 3000
          APP_SECRET: esse-incididunt-qui-deserunt-est-non-ullamco-voluptate-mollit-laboris-nostrud-deserunt-sit-exercitation-et-labore
          POSTGRES_DB: authentication
          POSTGRES_USER: admin
          POSTGRES_PASSWORD: contraseña
          DATABASE_URL: postgres://admin:contraseña@localhost:5432/authentication
          ALLOWED_ORIGINS: '*'
      - name: Monitor coverage
        uses: slavcodev/coverage-monitor-action@1.7.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          coverage_path: coverage/clover.xml
          threshold_alert: 50
          threshold_warning: 80
      - uses: actions/upload-artifact@v3
        with:
          name: unit-coverage
          path: coverage
