name: Unit test

on: [push]

jobs:
  build:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x, 12.x]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - uses: bahmutov/npm-install@v1
    - name: Build the project
      run: |
        npm run build --if-present
      env:
        PORT: 3000
        APP_SECRET: 444a45b38193572dd7d3c0d691d806b487dbdfe1

  test:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x, 12.x]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - uses: bahmutov/npm-install@v1
    - name: Run unit test
      run: |
        npm test
      env:
        CI: 'true'
        PORT: 3000
        APP_SECRET: 444a45b38193572dd7d3c0d691d806b487dbdfe1
        POSTGRES_DB: authentication
        POSTGRES_USER: admin
        POSTGRES_PASSWORD: contraseña
        DATABASE_URL: postgres://admin:contraseña@localhost:5432/authentication
